name: 'mouse4j'
version: '0.1.1'
description: 'A light-weight Neo4j ORM that wraps native nodes and edges.'
keywords: ['neo4j', 'orm', 'graph', 'database'],
license: 'MIT',
author:
  name: 'Lehao Zhang'
  url: 'http://leozhang.me'
  email: 'hello@leozhang.me'
repository:
  type: 'git'
  url: 'git://github.com/ilikebits/mouse4j.git'

main: './dist'

scripts:
  prepublish: './node_modules/grunt-cli/bin/grunt'
  test: 'mocha --compilers coffee:coffee-script/register --reporter spec'

dependencies:
  bluebird: '>=2.3.0'
  'deep-equal': '>=0.2.1'

  neo4j: '>=1.1.0'

devDependencies:
  'coffee-script': '>=1.7.1'
  cson: '>=1.6.1'

  mocha: '>=1.21.4'
  chai: '>=1.9.1'

  grunt: '>=0.4.5'
  'grunt-cli': '>=0.1.13'
  'grunt-contrib-clean': '>=0.6.0'
  'grunt-contrib-coffee': '>=0.11.1'
  'grunt-cson': '>=0.10.0'

engines:
  npm: '>=0.10.31'
  node: '>=1.4.23'
