name: 'mouse4j'
version: '0.1.1'
description: 'A light-weight Neo4j ORM that wraps native nodes and edges.'
author:
  name: 'Leo Zhang'

main: './dist'

scripts:
  prepublish: './node_modules/grunt-cli/bin/grunt'
  test: 'mocha --compilers coffee:coffee-script/register --reporter spec'

dependencies:
  bluebird: '*'
  'deep-equal': '*'

  neo4j: '*'

devDependencies:
  'coffee-script': '*'
  cson: '*'

  mocha: '*'
  chai: '*'

  grunt: '*'
  'grunt-cli': '*'
  'grunt-contrib-clean': '*'
  'grunt-contrib-coffee': '*'
  'grunt-cson': '*'
  'grunt-npm-install': '*'
